name: Release

on:
    pull_request:
        branches:
            - master
        types: [closed]

jobs:
    release:
        if: github.event.pull_request.merged == true
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2

            #needed for lerna / semantic release to correctly version
            - name: Fetch all tags
              run: git fetch --prune --unshallow --tags

            - name: Configure CI Git User
              run: |
                  git config --global user.name 'Release bot'
                  git config --global user.email 'oss@medly.com'

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '14.x'
                  registry-url: 'https://registry.npmjs.org'
                  scope: '@medly'

            - name: Install dependencies
              run: yarn

            - name: Linting
              run: yarn lint

            - name: Publish packages
              run: yarn release
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
